@{
  Layout = "_Layout";
}
<div class="jumbotron">
  <h1> Welcome to your Record Collection!</h1>
</div>

<a href="/record/new" class="btn btn-dark">Add a new Record</a>
<a href="/record" class="btn btn-dark">Show all Records</a>
<a href="/artist" class="btn btn-dark">Show all Artists</a>
