@{
  Layout = "_Layout";
}
<div class="form-group">
  <form action="/record" method="post">
    <label for="recordName" class="form-label">Record Name: </label>
    <input id="recordName" name="recordName" type="text" class="form-control" placeholder="Thriller">
    <label for="artistName" class="form-label">Add a new item</label>
    <input id="artistName" name="artistName" type="text" class="form-control" placeholder="Michael Jackson">
    <br>
    <button type="submit" class="btn btn-dark">Add</button>
  </form>
</div>
