.container {
  color: white;
  text-align: center;
}

body {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('../img/vinyl.jpg');
  background-color: rgb(37, 37, 37);
}

.jumbotron h1{
  font-size: 40px;
}

.jumbotron {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.658), black);
  box-shadow:inset 5px -30px 30px 2px #ffffffb9;
}